/*|| Resets ------------------------------------------------------------------------------------------ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}
/*|| Colours ----------------------------------------------------------------------------------------- */

:root {
    --clr:accent: ;
}
/*|| Typography -------------------------------------------------------------------------------------- */

h1, h2, h3, p, input, button {
	font-family: 'Roboto', sans-serif;
	color: white;
}

/*|| Main Layout ------------------------------------------------------------------------------------- */

html {
	overflow: hidden;
	background-color: black;
}

.background-image {
	position: absolute;
	bottom: -25%;
	z-index: -1;
	width: 100%;
	filter: blur(3px);
	transform: scale(1.1);
	opacity: 1;
}

main {
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	justify-content: center;
	overflow: hidden;
}

.clock-widget {
	text-align: center;
	margin: 8em auto 2em auto;
	user-select: none;
}

.clock-widget h1 {
	font-size: 7em;
	font-weight: 100;
	text-shadow: 0em 2px 5px rgba(75, 75, 75, 0.5);
}

.clock-widget h2 {
	font-size: 1.5em;
	font-weight: 100;
	margin-top: 0.5em;
	text-shadow: 0em 2px 5px rgba(0, 0, 0, 0.5);
}

.search-widget {
	width: 35em;
	margin-top: 2em;
	margin-bottom: 4em;
	display: flex;
	justify-self: center;
	justify-content: space-between;
	flex-wrap: wrap;
	background-color: rgba(255, 255, 255, 0.25);
	height: 3em;
	border-radius: 2em;
	box-shadow: 0em 2px 5px rgba(75, 75, 75, 0.5);
}

.search-widget input[type="submit"] {
	display: none;
}

.search-widget form {
	align-items: center;
	margin-top: 0.5em;
}

.search-widget-input {
	align-self: center;
	border: none;
	background-color: transparent;
	outline: none;
	width: 19em;
	caret-color: #fff;
	font-size: 1.5em;
	font-weight: 100;
	color: #fff;
	margin-right: 1.5em;
}

.search-widget-input:focus {
	outline: none;
}

.search-widget svg {
	/* width: 2em; */
	align-self: center;
	margin-left: 0.75em;
	margin-right: auto;
}



/*|| Quick Links ------------------------------------------------------------------------------------- */

.quick-links-container {
	z-index: 0;
	width: 85vw;
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 2em;
}

.link-cards {
	background-color: rgba(255, 255, 255, 0.25);
	width: 110px;
	padding: 1em;
	border-radius: 2em;
	display: grid;
	transition: 0.2s;
}

.link-cards svg {
	justify-self: center;
	align-self: center;
	transform: translateY(0.5em);
}

.link-cards:hover {
	background-color: rgba(255, 255, 255, 0.4);
	box-shadow: 0em 2px 5px rgba(75, 75, 75, 0.5);
	transition: 0.2s;
	transform: translateY(-2px);
}

.link-cards h2 {
	position: relative;
	bottom: -3em;
	text-align: center;
	user-select: none;
}

/*|| Weather Display --------------------------------------------------------------------------------- */

.weather-widget {
	font-weight: 100;
	font-size: 1.5em;
	display: flex;
	justify-content: center;
	margin-top: 2em;
	text-align: center;
	user-select: none;
}

/*|| Settings Panel ---------------------------------------------------------------------------------- */

/* Switch */
.settings-switch {
	position: absolute;
	z-index: 2;
	right: 2.5em;
	top: 1.25em;
	opacity: 0.7;
	cursor: pointer;
	transition: 0.5s;
}

.settings-switch label {
	cursor: pointer;
	transition: 0.5s;
}

.settings-switch:hover {
	opacity: 1;
	transform: rotate(30deg);
	transition: 0.5s;
}

.settings-switch input[type="checkbox"]:checked + label svg {
    transform: rotate(270deg);
	transition: 1s;
}

.settings-switch input[type="checkbox"] + label svg {
	transition: 1s;
}

/* Panel */
.settings-panel {
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	width: 26em;
	/* This is hacky as fuck, fix this */
	height: 93.5vh;
	/* height: 100vh; */
	max-height: 100%;
	background-color: rgba(35, 35, 35, 0.75);
	padding: 1.5em;
	display: grid;
	grid-template-columns: 1fr;
	gap: 2em 0;
	overflow-x: hidden;
	overflow-y: scroll;
	transition: 1s;
	backdrop-filter: blur(0.3em);
	
	/* Makes hidden panel the default state */
	transform: translateX(100%);
}

.display-settings {
	/* Shows settings panel */
	transform: translateX(0%);
	transition: 1s;
}

.settings-section {
	background-color: rgba(255, 255, 255, 0.1);
	padding: 1em;
	border-radius: 1em;
	display: grid;
	gap: 1em;
}

.bgselect-panel {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1em;
	justify-content: space-evenly;
}

.bgselect-panel label {
	width: 100%;
}

.bgselect-labels {
	width: 11em;
	border-radius: 1em;
	opacity: 0.6;
}

.bgselect-labels:hover {
	opacity: 1;
	cursor: pointer;
}

input[type="radio"]:checked + label img {
    opacity: 1;
	box-shadow: 0px 0px 0.5em rgba(255, 255, 255, 0.75);
} 

input[type="radio"]:active + label img {
    opacity: 1;
	box-shadow: 0px 0px 0.5em rgba(255, 255, 255, 0.75);
}

.settings-heading {
	font-weight: 100;
	font-size: 1.5em;
	user-select: none;
	text-align: center;
}

.col-2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1em;
}



.font-select-buttons {
	padding: 1em;
}

.search-select-panel {
	width: 100%;
	/* display: flex;
	justify-content: space-evenly;
	gap: 1em; */
}

.search-select-buttons {
	cursor: pointer;
	/* background-color: rgba(255, 255, 255, 0.5); */
	/* padding: 1.5em; */
	height: 6em;
	width: 6em;
	border-radius: 1em;
	display: flex;
	justify-content: center;
	align-items: center;	
}

.settings-button {
	cursor: pointer;
	padding: 0.5em;
	width: 100%;
	border-radius: 2em;
	border: none;
	font-size: 1em;
	background-color: #0061df;
	
}

.settings-button:hover {
	background-color: #004caf;
}

.settings-button:active {
	transform: scale(0.97);
}

/* While clicked. Need to differentiate between checkbox option and radio */



/*|| Utilities ---------------------------------------------------------------------------------------- */

.hidden-element {
	display: none;
}

.fade-in-5s {
	animation: fade-in 5s ease;
}

@keyframes fade-in {
	0% {
		opacity: 0;
	} 80% {
		opacity: 0;
	} 100% {
		opacity: 1;
	}
}